<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>2-Factor Authentication Demo</title>
    <script src="js/main.js" type="text/javascript"></script>
    <script src="js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="js/sha256.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/" class="navbar-brand"><b>2-Factor</b> AUTHENTICATION</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/">Login</a></li>
        <li><a href="/about">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://www.ringcentral.com" target="_blank">Powered by&nbsp;       <img alt="Brand" src="img/ringcentral.png" height="20"></a></li>
      </ul>
    </div>
  </nav>

  <section id='content'>
    <div class="signup-form round-corner">
      <h1>Sign up with your valid mobile phone number!</h1>
      <form class="form-inline">
        <div class="form-group">
          <label for="email">Email address *</label>
            <input id="email" type="email" name="email" size="32"></input><br/>
          <label for="password">Password *</label>
            <input id="password" type="password" name="password" size="32"></input><br/>
          <label for="phoneno">Mobile phone *</label>
            <input id="phoneno" type="number" name="phoneno" size="32"></input><br/>
          <label for="fname">First name</label>
            <input id="fname" type="text" name="fname" size="32"></input><br/>
          <label for="lname">Last name</label>
            <input id="lname" type="text" name="lname" size="32"></input><br/>
        </div><br/>
        <button type="button" class="btn btn-call" onclick="signup()">Submit</button>
      </form>
    </div>
  </section>
</body>
</html>
